@page "/"
@using Blazored.LocalStorage
@using Core
@inject ILocalStorageService LocalStorage
@inject NavigationManager NavMan

<PageTitle>Home</PageTitle>

@if (_currentUser == null)
{
    <p><i>Authenticating...</i></p>
}
else
{
    <h1>Welcome back @_currentUser.FirstName @_currentUser.LastName!</h1>

    <label for="val">Insert weight for today</label>
    <InputNumber id="val" TValue="double" @bind-Value="@_weightVal"></InputNumber>
}


@code{

    User? _currentUser;
    double _weightVal;

    protected override async Task OnInitializedAsync()
    {
        _currentUser = await LocalStorage.GetItemAsync<User>("user");
        if(_currentUser == null)
            NavMan.NavigateTo("login");
    }

}